
@{
    ViewBag.Title = "Index";
}

<h2>Create New Account</h2>


<style>
    .error {
        color: #F14548;
        font-size: 12px;
    }

    .valid {
        color: green;
    }

    b {
        color: blue;
    }
</style>



<form id="accReg">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Account Type</label>
        <div class="col-sm-10">
            <select id="accType" name="accType" class="form-control"></select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Account No</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="accNo" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Holder Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="holderName" name="holderName">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">NIC</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nic" name="nic">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Initial Ammount</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="amount" name="amount" style="text-align:right;" placeholder="0.00">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
    </div>

</form>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>

    $(document).ready(function () {
        GetAccountTypetocmb();
    })


    //------------------------------------------------------- Start - Validator Additional method ---------------------------

    //check box validate
    $.validator.addMethod("valueNotEquals", function (value, element, arg) {
        return arg != value;
    }, "please select an account type");

    //------------------------------------------------------- end - Validator Additional method ---------------------------

    $('#accReg').validate({

        rules: {
            accType: {
                valueNotEquals: "0"
            },

            holderName: {
                required: true,
            },
            nic: {
                required: true,
            },
            amount: {
                required: true,
            }
        },

        
        submitHandler: function (form) {
            
            var submitData = {
                typeId: $('#accType').val(),
                accountNo: $('#accNo').val(),
                holderName: $('#holderName').val(),
                nic: $('#nic').val(),
                initialAmmount: $('#amount').val()
            }

            $.ajax({
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                async: false,
                type: 'POST',
                data: "{submitData:" + JSON.stringify(submitData) + "}",
                url: "/CreateAccount/CreateNewAccount",
                success: function (msg) {
                    debugger;
                    if (msg.retItem.id > 0) {
                        alert(msg.retItem.holderName + " account succesfully...!!!");

                    }
                    else {
                        alert('warning' + "account create unsucsessful...!!! ---- place insert over rs. 500/= as initial ammount");

                    }
                },
                error: function (xhr, errorThrown) {
                    alert('Error...!!! Internal - 01');
                }
            });
        }
    });


    //----------------------------------- get account type --------------------------------------------------------------
    
    function GetAccountTypetocmb() {

        document.getElementById("accType").innerHTML = "";
        $.ajax({
            type: "POST",
            url: '/CreateAccount/GetAccountType',
            contentType: "application/; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (msg) {
                $('#accType').append($("<option></option>")
                    .val("0")
                    .text('--Select Account Type--')
                );
                if (msg.retItem.length > 0) {
                    $.each(msg.retItem, function (index, item) {
                        $('#accType').append($("<option></option>")
                            .val(item.id)
                            .text(item.accType)
                        );
                    });

                }
            }
        });
    }




    $("#accType").change(function () {
        var aId = $("#accType option:selected").val();
        GetAccountNumber(aId);
    });


    //------------------------------------------------------------ Get AccountNumber to textbox -----------------------------------------------------------
    function GetAccountNumber(aId) {

        $.ajax({
            type: "POST",
            url: '/CreateAccount/GetAccountNo?aId=' + aId,
            contentType: "application/; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (msg) {
                $("#accNo").val(msg.retItem);
            }
        })
    }

</script>